<a href="https://colab.research.google.com/github/mayamoneib/deliveryfood/blob/main/deliverydummy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#%matplotlib inline
#plt.style.use("seaborn")
#when using colab
# Set the style for plots using the updated seaborn style
plt.style.use("seaborn-v0_8") # Changed from 'seaborn' to 'seaborn-v0_8'

df = pd.read_csv('onlinedeliverydata.csv')

In [ ]:
df_copy = df.copy()
df_copy.head()

,Age,Gender,Marital Status,Occupation,Monthly Income,Educational Qualifications,Family size,latitude,longitude,Pin code,...,Less Delivery time,High Quality of package,Number of calls,Politeness,Freshness,Temperature,Good Taste,Good Quantity,Output,Reviews
0,20,Female,Single,Student,No Income,Post Graduate,4,12.9766,77.5993,560001,...,Moderately Important,Moderately Important,Moderately Important,Moderately Important,Moderately Important,Moderately Important,Moderately Important,Moderately Important,Yes,Nil\n
1,24,Female,Single,Student,Below Rs.10000,Graduate,3,12.9770,77.5773,560009,...,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Yes,Nil
2,22,Male,Single,Student,Below Rs.10000,Post Graduate,3,12.9551,77.6593,560017,...,Important,Very Important,Moderately Important,Very Important,Very Important,Important,Very Important,Moderately Important,Yes,"Many a times payment gateways are an issue, so..."
3,22,Female,Single,Student,No Income,Graduate,6,12.9473,77.5616,560019,...,Very Important,Important,Moderately Important,Very Important,Very Important,Very Important,Very Important,Important,Yes,nil
4,22,Male,Single,Student,Below Rs.10000,Post Graduate,4,12.9850,77.5533,560010,...,Important,Important,Moderately Important,Important,Important,Important,Very Important,Very Important,Yes,NIL

In [ ]:
df_copy.drop(['latitude', 'longitude', 'Pin code','Reviews', 'Monthly Income', 'Educational Qualifications',
              'Family size', 'Medium (P1)', 'Medium (P2)', 'Meal(P2)', 'Perference(P1)', 'Perference(P2)',
              'Health Concern', 'Bad past experience', 'Delay of delivery person picking up food', 'Google Maps Accuracy',
              'Good Road Condition', 'Low quantity low time', 'Delivery person ability', 'Number of calls'], axis=1, inplace=True)

In [ ]:
# Define the order of categories
ordered_categories = ['Strongly disagree', 'Disagree', 'Neutral', 'Agree', 'Strongly agree']

# List of columns that need to be converted
columns_to_order = [
    "Ease and convenient", "Time saving", "More restaurant choices", "Easy Payment option",
    "More Offers and Discount", "Good Food quality", "Good Tracking system", "Self Cooking",
    "Late Delivery", "Poor Hygiene", "Unavailability",
    "Unaffordable", "Long delivery time", "Delay of delivery person getting assigned",
    "Wrong order delivered", "Missing item",
    "Order placed by mistake", "Residence in busy location"
]

# Apply categorical ordering to each column
for col in columns_to_order:
    df_copy[col] = pd.Categorical(df_copy[col], categories=ordered_categories, ordered=True)

# Verify changes
#print(df_copy.dtypes)  # Check the data types to confirm categorical conversion
df_copy[col]

0         Agree
1           NaN
2         Agree
3      Disagree
4         Agree
         ...
383    Disagree
384       Agree
385       Agree
386         NaN
387       Agree
Name: Residence in busy location, Length: 388, dtype: category
Categories (5, object): ['Strongly disagree' < 'Disagree' < 'Neutral' < 'Agree' < 'Strongly agree']

In [ ]:
from sklearn.preprocessing import LabelEncoder

label = LabelEncoder()
columns_to_order = [
    "Ease and convenient", "Time saving", "More restaurant choices", "Easy Payment option",
    "More Offers and Discount", "Good Food quality", "Good Tracking system", "Self Cooking",
    "Late Delivery", "Poor Hygiene", "Unavailability",
    "Unaffordable", "Long delivery time", "Delay of delivery person getting assigned",
    "Wrong order delivered", "Missing item",
    "Order placed by mistake", "Residence in busy location"
]

# Apply categorical ordering to each column
for col in columns_to_order:
   df_copy[col] = label.fit_transform(df_copy[col])

In [7]:
# Define the order of categories
ordered_categories = ['Unimportant', 'Slightly Important', 'Moderately Important', 'Important', 'Very Important']

# List of columns that need to be converted
columns_to_order = [
    "Less Delivery time", "High Quality of package", "Politeness",
    "Freshness ", "Temperature", "Good Taste ", "Good Quantity"
]

# Apply categorical ordering to each column
for col in columns_to_order:
    df_copy[col] = pd.Categorical(df_copy[col], categories=ordered_categories, ordered=True)

# Verify changes
#print(df_copy.dtypes)  # Check the data types to confirm categorical conversion
df_copy[col]

0      Moderately Important
1            Very Important
2      Moderately Important
3                 Important
4            Very Important
               ...
383               Important
384          Very Important
385          Very Important
386          Very Important
387      Slightly Important
Name: Good Quantity, Length: 388, dtype: category
Categories (5, object): ['Unimportant' < 'Slightly Important' < 'Moderately Important' < 'Important' <
                         'Very Important']

In [8]:
#from sklearn.preprocessing import LabelEncoder

label = LabelEncoder()
columns_to_order = [
    "Less Delivery time", "High Quality of package", "Politeness",
    "Freshness ", "Temperature", "Good Taste ", "Good Quantity"
]

# Apply categorical ordering to each column
for col in columns_to_order:
   df_copy[col] = label.fit_transform(df_copy[col])

In [9]:
# Define the order of categories
ordered_categories = ["15 minutes", "30 minutes", "45 minutes", "60 minutes", "More than 60 minutes"]

# List of columns that need to be converted
columns_to_order = [
    "Maximum wait time"
]

# Apply categorical ordering to each column
for col in columns_to_order:
    df_copy[col] = pd.Categorical(df_copy[col], categories=ordered_categories, ordered=True)

# Verify changes
#print(df_copy.dtypes)  # Check the data types to confirm categorical conversion
df_copy[col]

0      30 minutes
1      30 minutes
2      45 minutes
3      30 minutes
4      30 minutes
          ...
383    30 minutes
384    45 minutes
385    45 minutes
386    45 minutes
387    30 minutes
Name: Maximum wait time, Length: 388, dtype: category
Categories (5, object): ['15 minutes' < '30 minutes' < '45 minutes' < '60 minutes' <
                         'More than 60 minutes']

In [10]:
from sklearn.preprocessing import LabelEncoder

label = LabelEncoder()
columns_to_order = [
    "Maximum wait time"
]

# Apply categorical ordering to each column
for col in columns_to_order:
   df_copy[col] = label.fit_transform(df_copy[col])

In [19]:
categorical_columns = ['Influence of time', 'Influence of rating', 'Order Time']
df_copy = pd.get_dummies(data=df_copy, columns=categorical_columns)

In [12]:
df_copy['Output'] = df_copy['Output'].astype('category').cat.codes
df_copy['Output']

0      1
1      1
2      1
3      1
4      1
      ..
383    1
384    1
385    1
386    1
387    1
Name: Output, Length: 388, dtype: int8

In [20]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 41 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Age                                        388 non-null    int64
 1   Gender                                     388 non-null    object
 2   Marital Status                             388 non-null    object
 3   Occupation                                 388 non-null    object
 4   Meal(P1)                                   388 non-null    object
 5   Ease and convenient                        388 non-null    int64
 6   Time saving                                388 non-null    int64
 7   More restaurant choices                    388 non-null    int64
 8   Easy Payment option                        388 non-null    int64
 9   More Offers and Discount                   388 non-null    int64
 10  Good Food quality                          388 non-null    int64
 11  Good Tracking system                       388 non-null    int64
 12  Self Cooking                               388 non-null    int64
 13  Late Delivery                              388 non-null    int64
 14  Poor Hygiene                               388 non-null    int64
 15  Unavailability                             388 non-null    int64
 16  Unaffordable                               388 non-null    int64
 17  Long delivery time                         388 non-null    int64
 18  Delay of delivery person getting assigned  388 non-null    int64
 19  Wrong order delivered                      388 non-null    int64
 20  Missing item                               388 non-null    int64
 21  Order placed by mistake                    388 non-null    int64
 22  Maximum wait time                          388 non-null    int64
 23  Residence in busy location                 388 non-null    int64
 24  Less Delivery time                         388 non-null    int64
 25  High Quality of package                    388 non-null    int64
 26  Politeness                                 388 non-null    int64
 27  Freshness                                  388 non-null    int64
 28  Temperature                                388 non-null    int64
 29  Good Taste                                 388 non-null    int64
 30  Good Quantity                              388 non-null    int64
 31  Output                                     388 non-null    int8
 32  Influence of time_Maybe                    388 non-null    bool
 33  Influence of time_No                       388 non-null    bool
 34  Influence of time_Yes                      388 non-null    bool
 35  Influence of rating_Maybe                  388 non-null    bool
 36  Influence of rating_No                     388 non-null    bool
 37  Influence of rating_Yes                    388 non-null    bool
 38  Order Time_Anytime (Mon-Sun)               388 non-null    bool
 39  Order Time_Weekdays (Mon-Fri)              388 non-null    bool
 40  Order Time_Weekend (Sat & Sun)             388 non-null    bool
dtypes: bool(9), int64(27), int8(1), object(4)
memory usage: 97.9+ KB